@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #111111;
    --text-p: #585858;
    --shadow: #c7c7c7;
    --accent: #007bff;
    --background: #fff
}

.home,
.about,
.projects,
.contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    font-family: "Poppins";
    background-color: var(--background);
    color: var(--text-color);
    padding: 0 2rem;
}

nav p {
    font-weight: 500;
    font-size: 110%;

}

nav .navs .navList {
    display: flex;
    gap: 1.5rem;
}

nav .navs a {
    text-decoration: none;
    color: var(--text-color);
    font-family: "Poppins";
    font-size: 90%;
}

.ham-menu,
.close-menu {
    cursor: pointer;
}

.ham-menu {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-color);
    position: relative;
    display: none;
}

.ham-menu::after {
    content: "";
    position: absolute;
    left: -1.5px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    animation: pulse 1s ease infinite;
}

.ham {
    width: 30px;
    height: 3px;
    background-color: var(--text-p);
    border-radius: 30px;
    position: relative;
}

.ham::before,
.ham::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-p);
    border-radius: 30px;
}

.ham::before {
    top: .5rem;
}

.ham::after {
    top: -.5rem;
}

.close-menu {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-color);
    position: relative;
    display: none;
}

.close-menu::after {
    content: "";
    position: absolute;
    left: -1.5px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    animation: pulse 1s ease infinite;
}

.close {
    width: 30px;
    height: 3px;
    background-color: var(--text-p);
    border-radius: 30px;
    position: relative;
    transform: rotate(45deg);
}

.close::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-p);
    border-radius: 30px;
    transform: rotate(90deg);
}

@keyframes pulse {
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

.home {
    flex-direction: column;
}

.home .content {
    width: 65%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .content .intro h1 {
    line-height: 180%;
}

.home .content .intro p {
    width: 85%;
    color: var(--text-p);
}

.home .content .intro p span .locateIcon {
    color: #007bff;
    font-size: 135%;
}

.home .content .image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: url(./img/pic.png);
    background-size: cover;
    border: 2px solid var(--text-color);
}

.home .skills {
    width: 65%;
    display: flex;
    align-items: center;
}

.home .skills span {
    position: relative;
    margin: 0 1.5rem 0 1rem;
}

.home .skills span::after {
    content: "";
    position: absolute;
    top: -12.5px;
    left: 0;
    background-color: var(--text-color);
    width: 2px;
    height: 25px;
    border-radius: 50px;
}

.home .skills .skillIcons {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.home .skills .skillIcons i {
    font-size: 135%;
}

.home .skills .skillIcons i.html {
    color: #ffa500;
}

.home .skills .skillIcons i.css {
    color: #007bff;
}

.home .skills .skillIcons i.js {
    color: #b4b400;
}

.home .skills .skillIcons i.react {
    color: #007bff;
}

.about .content {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 85%;
}

.about .content .image {
    width: 300px;
    height: 300px;
    border: 2px solid var(--text-color);
    border-radius: 2rem;
    background: url(./img/pic.png);
    background-size: cover;
}

.about .content .writeup {
    color: var(--text-color);
    flex-basis: 50%;
}

.about .content .writeup h4 {
    color: var(--accent);
    margin-bottom: .5rem;
}

.about .content .writeup h2 {
    font-size: 1.2rem;
    line-height: 120%;
    margin-bottom: .75rem;
}

.about .content .writeup h2 span .locateIcon {
    color: #007bff;
    font-size: 115%;
}

.about .content .writeup p {
    color: var(--text-p);
    font-size: 90%;
    text-align: justify;
    line-height: 175%;
}

.projects .content {
    width: 66%;
    padding-top: 3rem;
}

.projects .content h4 {
    color: var(--accent);
    margin-bottom: .75rem;
}

.projects .content h2 {
    font-size: 1.2rem;
    line-height: 120%;
    margin-bottom: 1.8rem;
}

.projects .content h2 .puzzle {
    color: #007bff;
    font-size: 115%;
}

.projects .content .works {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects .content .works .work {
    display: flex;
    gap: 1.5rem;
    color: var(--text-p);
}

.projects .content .works .work .info {
    flex-basis: 50%;
    text-align: justify;
}

.projects .content .works .work .info h3 {
    text-align: center;
    margin-bottom: .5rem;
    font-weight: 500;
    color: var(--text-color);
}

.projects .content .works .work .info h3 span {
    position: relative;
}

.projects .content .works .work .info h3 span img {
    position: absolute;
}

.projects .content .works .work .info p {
    font-size: 90%;
    margin-bottom: .75rem;
}

.projects .content .works .work .info .skill,
.projects .content .works .work .info .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .75rem;
    color: var(--text-color);
    font-weight: 500;
}

.projects .content .works .work .info .skill {
    margin: 1rem 0;
}

.projects .content .works .work .info .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.projects .content .works .work .info .links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: .25rem;
}

.projects .content .works .work .info .links a img {
    margin: 0;
    padding: 0;
}

.projects .content .works .work .info .links a i {
    color: #007bff;
}

.projects .content .works .work .img {
    flex-basis: 50%;
    height: 300px;
    background: url(./img/dog-breed.png);
    background-size: cover;
    background-position: top center;
}

.contact {
    flex-direction: column;
    gap: 1.2rem;
    color: var(--accent);
    padding: 3rem 0;
}

.cont {
    width: 66%;
    line-height: 250%;
}

.contact h4,
.contact h2 {
    text-align: left;
    margin-bottom: -.5rem;
}

.contact h2 {
    color: var(--text-color);
    font-size: 1.2rem;
    margin-bottom: .5rem;

}

.contact .content {
    width: 66%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .content .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px var(--shadow);
    transition: 220ms ease;
}

.contact .content .card:hover {
    box-shadow: none;
    border: 1px solid var(--shadow);
}

.contact .content .card {
    text-decoration: none;
}

.contact .content .card i {
    font-size: 180%;
    color: var(--accent);
}

.contact .content .card h4 {
    color: var(--text-color);
}

.contact .content .card p {
    color: var(--text-p);
    font-size: 90%;
}
.footer{
    height: 50px;
    background-color: var(--text-color);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

@media screen and (max-width: 800px) {
    nav {
        height: 70px;
    }

    nav .navs .navList {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
        background-color: var(--background);
        transition: 400ms ease;
    }

    nav .navList.show {
        left: 0;
    }

    .ham-menu {
        display: flex;
    }

    .ham-menu.none {
        display: none;
    }

    .close-menu {
        display: flex;
        position: absolute;
        top: .7rem;
        right: 3rem;
    }

    .home .content {
        flex-direction: column;
        text-align: center;
        width: 80%;
        height: fit-content;
        gap: 1.5rem;
    }

    .home .content .intro h1 {
        font-size: 165%;
        line-height: 120%;
        margin-bottom: 1.5rem;
    }

    .home .content .intro p {
        width: 100%;
        font-size: 90%;
    }

    .home .skills {
        width: 100%;
        margin-top: 3rem;
        justify-content: center;
    }

    .about .content {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 2rem;
    }

    .about .content .writeup h4 {
        margin-bottom: .75rem;
    }

    .about .content .writeup h2 {
        margin-bottom: 1rem;
    }

    .projects {
        padding-top: 1.75rem;
    }

    .projects .content {
        width: 85%;
        text-align: center;
    }
    
    .projects .content h2 {
        line-height: 125%;
        width: 100%;
    }
    .projects .content .works{
        gap: 3rem;
    }
    .projects .content .works .work{
        flex-direction: column;
    }
    .projects .content .works .work:nth-child(even){
        flex-direction: column-reverse;
    }
.projects .content .works .work .img {
    flex-basis: 220px;
}

    .contact {
        padding-top: 3.5rem;
    }

    .cont {
        width: 85%;
        line-height: 350%;
    }

    .contact .content {
        width: 85%;
        gap: 0.9rem;
    }

    .contact h4,
    .contact h2 {
        text-align: center;
    }

    .contact h2 {
        line-height: 120%;
    }

    .contact .content .card {
        height: 150px;
    }
}